<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="AHT_Sales::sales" title="Sales Agent" module="AHT_Sales" sortOrder="10" action="salesadmin/sales/index" resource="AHT_Sales::sales"/>
    </menu>
</config>